# Auto detect text files and perform LF normalization
* text=auto

# Explicitly declare text files we want to always normalize and convert to native line endings on checkout.
*.js text
*.ts text
*.tsx text
*.jsx text
*.json text
*.md text
*.css text
*.html text
*.sh text eol=lf

# Denote all files that will be checked in as binary.
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
